/****** General ***********/
* {
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
}

/* Colors variables*/
:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
  --text-color: black;
  --button-border-color: #d9d9d9;
  --button-special-color: #deebff;
}

body {
  display: flex;
  justify-content: center;
  margin: auto;
}

/************ Header *************/
header {
  height: 79px;
  display: flex;
}

/* Logo Booki */
.logo {
  width: 61px;
  height: 19px;
  display: flex;
  position: relative;
  margin-top: 30px;
}

/* Header nav */
header nav {
  display: flex;
  margin-left: auto;
}

header ul {
  display: flex;
}

header ul li {
  list-style: none;
  margin-left: 69px;
}

header ul a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: 450;
}

header ul a:hover {
  color: var(--main-color);
  border-top: 2px solid var(--main-color);
  padding-top: 14px;
}

/************ Main *************/
.main-container {
  width: 100%;
  padding: 0 50px;
}

/********** Trouvez votre hebergement **********/
.info-group {
  height: 281px;
  margin-top: 35px;
}

.headline {
  margin-bottom: 35px;
  line-height: 16px;
}

.headline h1 {
  font-size: 22px;
}

.headline p {
  font-weight: 450;
}

/*** Form ***/
.info-group .search-bar {
  height: 49px;
  display: flex;
}

.info-group .search-bar .icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  background-color: var(--main-bg-color);
  color: var(--text-color);
  border-radius: 15px 0px 0px 15px;
}

/* Icon */
.fa-location-dot {
  font-size: 1.2em;
}

/* Input */
.info-group .search-bar input {
  width: 196px;
  border: 1px solid var(--main-bg-color);
  outline: none;
  color: var(--text-color);
  text-align: center;
  font-weight: 700;
  font-size: 18px;
}

.info-group .search-bar input::placeholder {
  color: var(--button-border-color);
}

/* Button */
.info-group .search-button {
  width: 132px;
  border: none;
  background-color: var(--main-color);
  color: var(--main-bg-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  border-radius: 0px 15px 15px 0px;
  cursor: pointer;
}

.info-group .fa-magnifying-glass {
  display: none;
}

/*** Filterbar ***/

.filter-bar {
  display: flex;
  height: 50px;
  margin-top: 35px;
}

.filter-bar p {
  color: var(--text-color);
  font-weight: 700;
  font-size: 18px;
}

.filter-buttons {
  display: flex;
  margin-left: 19px;
  gap: 19px;
}

.filter-buttons button {
  background-color: white;
  padding: 0px 20px 0px 20px;
  height: 50px;
  border: 2px solid var(--button-border-color);
  border-radius: 25px;
  cursor: pointer;
  color: var(--text-color);
  font-weight: 700;
  font-size: 17px;
}

.filter-buttons button:hover {
  background-color: var(--button-special-color);
  transition: 600ms;
}

/* Icons */
.fa-money-bill-wave,
.fa-person,
.fa-heart,
.fa-fire {
  color: var(--main-color);
  font-size: 1.2em;
  padding-right: 10px;
}

/*** Infobar ***/
.info-bar {
  display: flex;
  align-items: center;
  margin-top: 37.5px;
}

.info-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--button-border-color);
  border-radius: 50%;
  width: 24px;
  height: 24px;
}

.fa-info {
  font-size: 0.7em;
  color: var(--main-color);
}

.info-bar p {
  font-weight: 450;
  margin: 0;
  margin-left: 10px;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
  margin-top: 37.5px;
}

.hebergements-and-populaires section {
}

/****** Hebergements à Marseille***********/
.hebergements {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  width: 65%;
}

/* Cards Hebergements */

.hebergements-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
  gap: 30px;
}

.hebergements-cards .card {
  display: flex;
  flex-direction: column;
  width: 30%;
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.hebergements-cards .card img {
  height: 114px;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.hebergements-cards .card-content {
  padding-left: 10px;
  display: flex;
  flex-direction: column;
}

.hebergements-cards .card-title {
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 8px;
}

.hebergements-cards .card-subtitle {
  margin: 0;
  margin-bottom: 8px;
  font-size: 14px;
}

.hebergements-cards .fa-star {
  font-size: 0.8em;
  padding-bottom: 15px;
}

.hebergements .more-link {
  margin-top: 30px;
  font-weight: 700;
  font-size: 18px;
}

.hebergements .more-link:hover {
  color: var(--main-color);
  transition: 200ms;
}

/*************** Populaires **************/
.populaires {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
  width: 32%;
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Icone Populaire*/
.fa-chart-line {
  color: var(--main-color);
}

/* Cards Populaire */

.populaires-cards {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 30px;
}

.populaires-cards .card {
  width: 100%;
  display: flex;
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.populaires-cards img {
  width: 33%;
  height: 136px;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.populaires-cards .card-title {
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
  margin: 0;
  font-size: 14px;
}

/*************** Activites ***************/

.activites {
  margin: 35px 0px 35px 0px;
  padding: 30px;
}

/* Cards Activites */

.activites-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 30px;
}

.activites-cards .card {
  display: flex;
  flex-direction: column;
  width: 23%;
  height: 439px;
  background-color: white;
  border-radius: 20px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.activites-cards img {
  object-fit: cover;
  height: 86%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.activites-cards .card-title {
  font-size: 16px;
  margin: 20px;
}

/*******Footer******/

.nav-footer {
  display: flex;
  background-color: var(--main-bg-color);
}

footer nav ul {
  display: flex;
  flex-direction: column;
  width: 33%;
  list-style: none;
  padding: 0;
  margin: 20px 20px 5px 20px;
}

footer nav li {
  margin-bottom: 15px;
}

.nav-footer-title {
  font-weight: 700;
  font-size: 18px;
}

footer ul a {
  text-decoration: none;
  color: var(--text-color);
}

footer ul a:hover {
  color: var(--main-color);
  transition: 200ms;
}

/*******GLOBAL******/

/* Titles */
.section-title {
  margin: 0;
  font-size: 22px;
}
/* euro */
.euro {
  font-weight: 550;
  font-size: 0.9em;
}

/* Star rating*/
.fa-star {
  color: var(--main-color);
  letter-spacing: -3px;
}

.neutral-star {
  color: var(--main-bg-color);
}

/* Liens cards*/
.populaires-cards .card-link,
.hebergements .card-link,
.hebergements .more-link,
.activites .card-link {
  display: flex;
  text-decoration: none;
  color: inherit;
}

.populaires-cards .card-link:hover,
.hebergements .card-link:hover,
.hebergements .more-link:hover,
.activites .card-link:hover {
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.2));
  transition: 500ms;
}

/*************** Media queries ***********/

/***** Large desktop *****/
@media (min-width: 1440.01px) {
  .main-container {
    max-width: 1440.01px;
  }
}

/***** Desktop *****/
@media (max-width: 1440px) {
  /* Logo */
  .logo {
    margin-left: -20px;
  }
}

@media (min-width: 1025px) and (max-width: 1114px) {
  .hebergements-cards .card {
    width: 29%;
  }
}

/***** Tablet *****/
@media (max-width: 1024px) {
  /*** Filterbar ***/

  .filter-bar {
    flex-direction: column;
  }

  .filter-buttons {
    margin-left: 0;
  }

  .info-bar {
    position: relative;
    top: 47.5px;
  }

  /* Hebergements */
  .hebergements-and-populaires {
    display: flex;
    flex-direction: column;
  }

  .hebergements {
    margin-top: 45px; /* Pour permettre à 'info-bar' de maintenir sa position relative */
    width: 100%;
  }

  /* Populaires */
  .populaires {
    width: 100%;
    margin-top: 50px;
  }

  .populaires-cards {
    display: flex;
    flex-direction: row;
  }

  .populaires-cards .card-title {
    font-size: 14px;
  }

  .populaires-cards .card-subtitle {
    font-size: 13px;
  }

  /* Activites */

  .activites-cards .card {
    height: 270px;
  }

  .activites-cards img {
    height: 75%;
  }
}

/***** Mobile *****/
@media (min-width: 320px) and (max-width: 768px) {
  .main-container {
    padding: 0;
    width: 100%;
  }

  /* Header */
  header {
    flex-direction: column;
    align-items: center;
  }

  header nav {
    justify-content: center;
    width: 100%;
    border-bottom: 2px solid var(--main-bg-color);
    padding-bottom: 14px;
    margin-top: 30px;
  }

  header ul {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  header ul li {
    justify-content: space-between;
    width: 50%;
    margin: 0;
  }

  header ul a:hover {
    border-top: none;
    border-bottom: 2px solid var(--main-color);
    padding-bottom: 14px;
  }

  /* Info group */
  .headline h1 {
    line-height: 26px;
  }

  /*** Filterbar ***/
  .filter-buttons {
    flex-wrap: wrap;
    width: 20%;
  }

  .hebergements-and-populaires {
    flex-direction: column-reverse;
  }

  /* Populaires */
  .populaires {
    background-color: var(--main-bg-color);
    border-radius: 0%;
  }

  /* Hebergements */
  .hebergements {
    background-color: transparent;
    padding-top: 0;
    padding-bottom: 20px;
    margin-top: 35px;
  }

  .hebergements-cards {
    flex-direction: column;
    gap: 15px;
  }

  .hebergements-cards .card {
    width: 100%;
  }

  .hebergements-cards .hotel-du-port {
    order: 1;
  }

  .hebergements-cards .auberge-la-canebiere {
    order: 2;
  }

  .hebergements-cards .hotel-les-mouettes {
    order: 3;
  }

  .hebergements-cards .hotel-de-la-mer {
    order: 4;
  }

  .hebergements-cards .auberge-le-panier {
    order: 5;
  }

  .hebergements-cards .hotel-chez-amina {
    order: 6;
  }

  /* Activités */
  .activites-cards {
    flex-direction: column;
  }

  .activites-cards .card {
    width: 100%;
    height: 200px;
    margin-bottom: 15px;
  }

  /* Footer */
  .nav-footer {
    flex-direction: column;
    padding-bottom: 15px;
  }

  footer nav ul {
    margin-left: 30px;
    margin-top: 30px;
  }
}
